<div id="content">
  <h1>The Third of May <%= Date.today.year %></h1>
  
  <!-- menu -->
  <ul id="menu">
    <li><a href=<%= blogo_root_path %>>Doujin</a></li>
    <li><a href="#">Tech Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  
  <div class="header-box">
    <div class="colorbox-top">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    
    <div class="colorbox-middle">
      <div class="left">
        <div class="details">
          <!--          <h2>Nunc commodo euismod massa quis vestibulum</h2> -->
          <!--          <p class="info">posted 3 hours ago in <a href="#">general</a></p> -->
        </div>
      </div>
      
      <div class="middle">        
      </div>
      
      <div class="right">
        <div class="body">
          <p>
            このサイトは営利企業でも市民団体でもなく、一個人（たかはし）によって設計・運営されています。
            このサイトは18歳未満や、倫理的にはふさわしくないとされる情報を含んでいます。
            このサイトの閲覧は日本では合法ですが、閲覧する国や地域によっては法律・条例に違反する可能性があります。          
          </p>
          <p>
This website is designed and operated by an individual (Takahashi), and not by a commercial enterprise or a citizens' organization. It includes content that is considered ethically inappropriate and is not suitable for viewing by people under 18 years of age. Although the browsing of this site is completely legal in Japan, it may violate laws and regulations in certain countries or region.s
          </p>
        </div>
      </div>
    </div>

    <div class="colorbox-bottom">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>

  <div class="maincontents">
    <div class="right"></div>
    
    <div class="middle"></div>
    
    <div class="left">
      <div class="col"> 
        <h3><a href="<%= blogo_root_path %>">Doujin</a></h3>
        <p>日々のお絵かき。ツラツラと描き連ねていっている。</p>
        <p><a class="mainlink" href="#">MORE INFO</a></p>
      </div>

      <div class="col">
        <h3><a href="#">Tech blog</a></h3>
        <p>たかはしが勉強した事柄についての忘備録。主題はコンピュータ系。その他の理工系の話題もあり。まれに人文系</p>
        <p><a class="mainlink" href="#">MORE INFO</a></p>
      </div>
    </div>
  </div>

  <div id="footer">
    <p>Copyright &copy; <em>Takahashi</em></p>
  </div>  
</div>
