/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";

body {
    font: .8em Georgia, "Times New Roman", Times, Serif, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    background: #fff; color: #777;
}

/* ボタン類 */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {    
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

.default-textarea {
    display: block;
    width: 100%;
    height: 900px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Chrome, Safari */    
}

/* ここから追加 */
* { margin: 0; padding: 0; list-style-type: none; }

.margin10 { margin: 0 0 10px 0; }
.margin1010 { margin: 0 0 10px 10px; }

a { color: #D40000; text-decoration: none; }
a:hover { color: #8F0000; }
p { line-height: 1.7em; margin: 0 0 15px; }
.x { clear: both; }

h1 { float: left; font-size: 2em; font-weight: normal; font-style: italic; padding: 0 0 25px 10px; margin: 0 0 10px; }
h2 { font-weight: normal; font-size: 2.6em; padding: 0 0 10px; margin: 0 0 15px; }
h3 { font-size: 1.7em; font-weight: normal; margin: 0 0 20px; }
h3 a { color: #222; }

#content { 
    width: 960px; 
    margin: 40px auto; 
/*     background: #f8dce0 url("/img/background.png"); */
/*     background-repeat: no-repeat; */
/* /\*    background-position: bottom left; *\/ */
/*     background-position: bottom left; */
/*     background-color: transparent; */
/*     background-size: 50%; */
}

#menu { 
    float: right; 
    font-family: 'PT Sans Narrow','Proxima Nova W15',sans-serif;
    font-style: normal;
    font-size: 100%;
    padding-top: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

#menu li { display: inline; list-style: none; }
#menu li a { float: left; margin: 0 0 0 30px; color: #000000; }
#menu li a:hover { color: #555; }

.header-box { clear: both; height: 266px; padding: 0px 0px; margin: 30px 0 0; }

.header-box .colorbox-top { clear: both; }
.header-box .colorbox-top .left { float: left; width: 40%; border-top: 3px solid #c32d00; }
.header-box .colorbox-top .right { float: right; width: 60%; border-top: 1px solid #ffffff; }

.header-box .colorbox-middle { clear: both; width: 100%; height: 100% }
.header-box .colorbox-middle .left { float: left; }
.header-box .colorbox-middle .left .details { clear: both; width: 250px; padding: 20px 30px 0 10px; }
.header-box .colorbox-middle .middle { float: left; width: 1px; height: 100%; border-left: 1px solid #c32d00; }
.header-box .colorbox-middle .right { float: right; }
.header-box .colorbox-middle .right .body { width: 620px; }
.header-box .colorbox-middle .right .body p { clear: both; padding: 30px 60px 0 0; }

.header-box .colorbox-bottom { clear: both; }
.header-box .colorbox-bottom .left { float: left; width: 25%; border-bottom: 1px solid #ffffff; }
.header-box .colorbox-bottom .right { float: right; width: 75%; border-bottom: 1px solid #c32d00; }

.post { clear: both; padding: 30px 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 0 0 40px; }
.post .details { float: left; width: 250px; }
.post .details .info { font-size: .9em; color: #999; }
.post .details .info a { color: #777; border-bottom: 1px dotted #999; padding: 3px 1px; }
.post .body { float: right; width: 618px; padding: 0 0 0 30px; border-left: 1px solid #ddd; }

.maincontents { clear: both; height: 500px; }
.maincontents .left { float: right; width: 70%; padding: 40px 0 0; }
.maincontents .left .col {
    width: 250px;          /* 横幅を固定して */
    display: inline-block; /* インラインブロック化 */
    vertical-align: top;   /* 上端を揃える */
    margin: 0 40px 30px 0;
    float: right;
    font-size: .9em;
}
.maincontents .middle { float: right; height: 100%; border-left: 1px solid #c32d00; }
.maincontents .right { float: right; height: 100%; width: 50px; }

.maincontents .right .col.last { margin-right: 0; }

.maincontents .mainlink {
    border-color: #51bae5;
    color: white;
    background-color: #51bae5;
    padding: 5px 6px;
}

#footer { clear: both; border-top: 3px solid #c32d00; padding: 20px 0; font-size: .9em; color: #999; }

#menulink {
    font-family: 'Proxima Nova W15',sans-serif;
    font-style: normal;
}

#nice-menu-1 li.menu-338 a.menu__link, #nice-menu-1 li.menu-332 a.menu__link, #nice-menu-1 li.menu-568 a.menu__link, #nice-menu-1 li.menu-324 a.menu__link, #nice-menu-1 li.menu-path-events a.menu__link {
    font-size: 125%;
    padding-top: 12px;
    margin: 0 0 0 24px;
    font-weight: 800;
}
